.slick-dots {
  bottom: -50px;
}

.slick-dots li button:before {
  color: #4ea199;
  font-size: 8px;
}

.slick-dots li.slick-active button:before {
  color: #4ea199;
}

/* Ensure consistent width for all slick slides */
.slick-slide {
  box-sizing: border-box;
}

.slick-slide > div {
  box-sizing: border-box;
  width: 100%;
}

.slick-list {
  margin: 0 -0.5rem;
}

.slick-track {
  display: flex !important;
}

.slick-track .slick-slide {
  display: flex !important;
  height: auto;
  align-items: stretch;
}

.slick-track .slick-slide > div {
  width: 100%;
  display: flex;
  height: 100%;
} 